@import "./../../common/modern-reset.css";

div {
  padding: 10px;
  font-size: 3rem;
  border: 1px solid currentColor;
}

/* 요소 박스 위치 지정 */
body div.percentage-value {
  border: 1px solid currentColor;
  padding: 1em !important;
  margin: 1em !important;
  font-size: 1em !important;

  p {
    margin: 0;
  }
}

/* content-box : margin + border + padding + width */
/* border-box : margin + width(border + padding) */

.static {
  background: yellow;
}

.fixed {
  background: hsla(250 50% 50% / 1);
  position: fixed;
  inset-inline-end: 0;
  inset-block-end: 0;
}

.relative-wrapper {
  position: relative;
  inset-block-start: 50px;
  inset-inline-start: 50px;
}

.absolute-wrapper {
  position: absolute;
}

.absolute {
  inline-size: 500px;
  background: sandybrown;
  position: absolute;
  inset-inline-start: 100px;
  inset-block-start: 00px;
}

.sticky {
  background-color: aquamarine;
  padding: 20px;
  margin-block: 100px;
  position: sticky;
  inset-block-start: 0;
}
