@import "./../../common/best-reset.css";
@import "./../../common/base.css";

body {
  margin: 50px;
}

h1 {
  margin-block: 1rem;
}

.grid-item1 {
  background-color: yellow;
}
.grid-item2 {
  background-color: pink;
}
.grid-item3 {
  background-color: blue;
}
.grid-item4 {
  background-color: green;
}

/* 그리드 박스 */
.grid-box {
  border: 1px solid green;
  background-color: gray;
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 50px);
  isolation: isolate;

  .grid-item1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
  }

  .grid-item2 {
    grid-row: 2 / span 2;
    grid-column: 2 / span 2;
  }

  .grid-item3 {
    position: absolute;
    inset: 2rem;
    z-index: -1;
  }
}

/* 그리드 정렬 */
.grid-wrapper {
  border: 1px solid red;
  block-size: 400px;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(5, 50px);
  /* justify-items: center;
  align-items: center; */
  /* place-items: center; */

  /* justify-content: center;
  align-content: center; */
  /* block inline 순으로 쓰면 사용 가능 */
  /* place-content: center; */

  .grid-item2 {
    font-size: 1.5rem;
    align-self: center;
  }
}
