@import "./../../common/best-reset.css";

body {
  margin: auto;
}

.table-styling {
  border-block: 2px solid currentcolor;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  inline-size: 710px;
  block-size: 486px;

  .number {
    inline-size: 46px;
    font-size: 0.875rem;
  }

  img {
    float: left;
    inline-size: 60px;
    block-size: 60px;
  }

  .title {
    font-size: 0.9375rem;
    inline-size: 490px;
    float: inline-start;
  }

  .detail {
    font-size: 0.8125rem;
    inline-size: 490px;
    clear: left;
  }
}
